In [1]:
import os
import re
import numpy as np   
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
historic_data = pd.read_csv('KenPomHistoric_2002_2017.csv')
teams_data = pd.read_csv('kenpom_teams.csv')
current_season_data = pd.read_csv('kenpomnew_active.csv')
historic_game_data = pd.read_csv('historic_game_results.csv')
historic_game_data.head()

,Away_Team,Away_Score,Home_Team,Home_Score,year,day,tourney_game
0,Michigan,62,Villanova,79,2018,2018-04-02,0
1,Loyola (IL),57,Michigan,69,2018,2018-03-31,1
2,Villanova,95,Kansas,79,2018,2018-03-31,1
3,San Francisco,77,North Texas,88,2018,2018-03-30,1
4,UIC,71,Northern Colorado,76,2018,2018-03-30,1